.marco {
    height: 264px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #fff;
    position: relative;
    border-radius: 3px;
    margin: 20px;
}

#branchImage {
    vertical-align: baseline;
    max-width: 100%;
    height: auto;
}

.branchName {
    font-family: 'Avenir';
    font-size: 20px;
    color: #F00;
    font-weight: 300;
}

.branchInfo {
    font-family: 'Avenir Next';
    font-size: 14px;
    font-weight: 400;
}

.btnReservar {
    font-family: 'Avenir Next' !important;
    font-size: 17px;
    color: #FFF;
    transition: 0.2s;
    border-radius: 120px;
    background-size: 200% auto;
    border-style: none;
    padding: .2em 1em;
    margin-top: .3em;
    margin-bottom: .1em;
    text-align: center;
    background-image: linear-gradient(0.25turn, #fd0d3dc7 0%, #9000ffd3 51%, #fd0d3dc7 100%);
}

.btnReservar:hover {
    background-position: right center;
    color: #FFF;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
