.instructorBodyImage {
    filter: invert(100%);
}

.container-fluid {
    color: white;
}

#instructorImage {
    padding-bottom: 1em;
}

.info {
    text-justify: inter-word;
}

#instructorName {
    color: #FF0E3B;
    /* font-family: 'Avenir' !important; */
}

#instructorDescription {
    font-size: 20px;
    /* font-family: 'AvenirNextLTPro Regular' !important; */
    opacity: .8;
}


.dateSelector {
    background-color: black;
}

.link>a {
    text-decoration: none;
    color: white;
    text-decoration: none;

    margin-bottom: 0px;
    font-weight: bold;
}

.btn:Hover {
    background-color: #87d9de;
    cursor: pointer;
}