.title {
    background: linear-gradient(0.25turn, #961260, #BE1131, #9100FE) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

#instructorName {
    color: #F4113A !important;
}

.card {
    background-color: #000;
    color: #000;
    transition: 0.3s;
}

.card:hover {
    background-color: #c72744cd;
    background-color: #282828;
    color: #FFF;
}

.instructor-head {
    min-width: 350px;
    min-height: 525px;
    width: 350px;
    height: 525px;
    border-radius: 15px;
    object-fit: cover;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
}

@media screen and (max-width: 1300px) {
    .instructor-head {
        min-width: 250px;
        min-height: 325px;
        width: 250px;
        height: 325px;
    }
}

@media screen and (max-width: 1000px) {
    .instructor-head {
        min-width: 200px;
        min-height: 275px;
        width: 200px;
        height: 275px;
    }
}
