@font-face {
    font-family: Avenir;
    src: url("css/fonts/velo/AvenirNextCondensed-Bold.ttf");
    src: url("css/fonts/velo/AvenirNextLTPro-Bold.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-BoldCn.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-BoldCnIt.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-Cn.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-CnIt.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-Demi.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-DemiCn.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-DemiCnIt.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-HeavyCn.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-HeavyCnIt.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-It.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-MediumCn.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-MediumCnIt.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-Regular.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-UltLtCn.oto") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-UltLtCnIt.otf") format("opentype");
}

body{
    font-family: 'Avenir' !important;
    color: #F11635;
    background-color: #000;
}

.title {
	background: linear-gradient(0.25turn, #961260, #BE1131, #9100FE);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#instructorName {
    color: #F4113A
}

.card{
    background-color: #000;
    color: #000;
    transition: 0.3s;
}

.card:hover{
    background-color: #c72744cd;
    background-color: #282828;
    color: #FFF;
}