/* fonts */
@font-face{
    font-family: "AvenirNextCondensed Bold";
    src: url("fonts/AvenirNextCondensed-Bold.ttf");
}
@font-face{
    font-family: "AvenirNextLTPro Bold";
    src: url("fonts/AvenirNextLTPro-Bold.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro BoldCn";
    src: url("fonts/AvenirNextLTPro-BoldCn.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro BoldCnit";
    src: url("fonts/AvenirNextLTPro-BoldCnIt.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro Cn";
    src: url("fonts/AvenirNextLTPro-Cn.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro Cnit";
    src: url("fonts/AvenirNextLTPro-CnIt.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro Demi";
    src: url("fonts/AvenirNextLTPro-Demi.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro DemiCn";
    src: url("fonts/AvenirNextLTPro-DemiCn.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro DemiCnIt";
    src: url("fonts/AvenirNextLTPro-DemiCnIt.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro DemiIt";
    src: url("fonts/AvenirNextLTPro-DemiIt.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro HeavyCn";
    src: url("fonts/AvenirNextLTPro-HeavyCn.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro HeavyCnIt";
    src: url("fonts/AvenirNextLTPro-HeavyCnIt.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro It";
    src: url("fonts/AvenirNextLTPro-It.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro MediumCn";
    src: url("fonts/AvenirNextLTPro-MediumCn.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro MediumCnit";
    src: url("fonts/AvenirNextLTPro-MediumCnIt.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro Regular";
    src: url("fonts/AvenirNextLTPro-Regular.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro UltLtCn";
    src: url("fonts/AvenirNextLTPro-UltLtCn.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro UltLtCnIt";
    src: url("fonts/AvenirNextLTPro-UltLtCnIt.otf")format("opentype");
}
/* whole html */
html, body {
    background-color: black;
    color: white;
    font-family: 'AvenirNextLTPro Regular';
    font-weight: 200;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

button:focus {outline:0;}

input:focus {outline:0;}

select:focus {outline:0;}


/* header css */
.top-right {
    position: absolute;
    right: 2em;

}
.line{
    top: 0;
    margin-bottom: .2em;
}

.title {
    font-size: 84px;
}

.home{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    line-height: 39px;
    padding-right: 10px;
    z-index: 6;
}

.home >a{
    color: black;
    padding: 0 25px;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    left: 0;
}

.home > a >span{
    color: #18c2cd;
}
.hicon{
    border-left: .7px solid #FF0E3B;
}
.locations{
    position: absolute;
    right: 29em;
    border-left: 1.5px solid #e9eded;
    padding: 1.6em 1em;
}
.branches{
    position: absolute;
    right: 18em;
    border-left: 1.5px solid #e9eded;
    padding: 1.6em 1em;
}
.locations > select, .branches > select{
    background: #fff!important;
    border-radius: 0!important;
    text-transform: uppercase!important;
    color: black;
    font-family: 'Gotham Thin';
}

.links{
    position: absolute;
    right: 6em;
    border-right: .7px solid #FF0E3B;
    border-left: .7px solid #FF0E3B;
    padding: 1.5em 1em;
}
.links > a{
    color: black;
    padding: 0 15px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.account{
    width: 70%;
}
.account2{
    width: 15%;
}
.account > a{
    color: #87d9de;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.account2 > a{
    color: #87d9de;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.m-b-md {
    margin-bottom: 30px;
}

.responsive {
    width: 100%;
    height: 40em;
    top: 0;
}

.navbar{
    background-color:  black;
   /* border-top: 16px solid linear-gradient(0.25turn, #F70E0E, #9100FF);*/
    border-bottom: 1px solid #FF0E3B;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 6em;
}

.gradient{
    position: fixed;
    z-index: 3;
    width: 100%;
    background: linear-gradient(0.25turn, #fd0d3dc7, #9000ffd3);
    height: 7px;
}

.redes-fijas {
    text-align: left;
    padding-left: 10px;
    position: fixed;
    right: 2%;
    top: 24%;
    z-index: 1;
    color: black;
    width: 60px;
}

.redes-fijas > a{
    text-decoration: none;
    color: black;
    height: 30px;
    width: 30px;
}

.redes-fijas > a:hover{
    color: #808080;
}

.hambBtn{
    z-index: 4;
}
/*overlay css */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0%;
  left: 0;
  background-color: rgb(36,36,36);
  overflow-y: hidden;
  transition: 0.5s;
}

@media screen and (max-width: 679px) {
    .overlay-content {
        position: relative;
        top: 7%;
        width: 7%;
        left: 70%;
    }
}

.overlay-content {
  position: relative;
  top: 9%;
  width: 20%;
  left: 75%;
}

.overlay-locations {
    position: relative;
    bottom: 10%;
    width: 40%;
    left: 52%;
}
.overlay-locations > a{
    color: #6133AB !important;
    padding: 0 !important;
    width: 40% !important;
    text-align: right !important;
}

.overlay-locations > p{
    margin: 0 !important;
    width: 40% !important;
    text-align: right !important;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 52px;
  color: #FF0E3B;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #6133AB;
  padding-left: 1em;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* body css */
.main{
    margin-top: 1em;
  
}
.icon{
    position:absolute;
    top: 10%;
    left: -15%;
    z-index: 1;
    width: 680px;
    height: 650px;
}
.veloBrand{
    position:absolute;
    top: 43%;
    left: 37%;
    z-index: 1;
    width: 370px;
    height: 190px;
}
.music{
    position:absolute;
    top: 85%;
    left: 85%;
    z-index: 1;
    width: 140px;
    height: 30px;
}
.imusic{
    position:absolute;
    top: 90%;
    left: 90%;
    z-index: 1;
    width:50px; 
    height:50px;
}
.content {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 6em;
}

.packages{
    padding-top: 3em;
    padding-left: 2em;
    margin-top: 6em;
}

.description{
    color:#efeeee;
    text-align: center;
    text-size-adjust: 90px;
    margin-bottom: 1em;
}

.classes{
    width: 100%;
    margin: 30px auto 0;
    text-align: center;
    margin-bottom: 100px;
}

.content-normal{
    margin: 2em 0 0 0;
}

#content-normal{
    font-family: 'AvenirNextLTPro UltLtCn';
    color: #FF0E3B;
    text-align: center;
    width: 188px;
    display: inline-block;
    vertical-align: top;
    margin-right: .8%;
    border: solid 1px #ecebeb;
    overflow: hidden;
    min-height: 250px;
    cursor: pointer;
}

#content-normal:hover{
    background: linear-gradient(0.25turn, #fd0d3dc7, #9000ffd3);
    color: white;
    border: none;
    transition: 0.5s;
}

#amount1{
    margin: 3em 0 0 0;
}

#amount2, #amount3, #amount4, #amount5, #amount6{
    font-size: 7em;
    padding: .3em 0 0 0;
}

.f-class{
    margin: 0 0 1.8em 0;
}

.class, .exp{
    color: white;
    padding: 0 0 0 0;
}


/*.content-n .content-n2 {
    opacity: 1;
    top: 100%;
    transition: .2s ease;
    pointer-events: none;
}*/

#first-class{
    font-family: 'AvenirNextLTPro UltLtCn';
    color: white;
    background: linear-gradient(0.25turn, #fd0d3dc7, #9000ffd3);
    text-align: center;
    width: 188px;
    display: inline-block;
    vertical-align: top;
    margin-right: .8%;
    border: solid 1px #ecebeb;
    overflow: hidden;
    min-height: 250px;
    cursor: pointer;
}

#first-class:hover{
    color: #c4f0f2;
}
@media screen and (max-width: 679px){
    .classes {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 679px){
    #first-class{
        width: 130px;
    }
    #content-normal{
        width: 130px;
    }
}
@media screen and (max-width: 800px){
    #first-class{
        width: 150px;
        margin-bottom: 5px;
    }
    #content-normal{
        width: 150px;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 1000px){
    #first-class{
        width: 127px;
        padding-top: 0;
        padding-bottom: 20px;
    }
    #content-normal{
        width: 127px;
        padding-top: 0;
        padding-bottom: 20px;
    }
    .icon{
        position:absolute;
        top: 10%;
        left: -15%;
        z-index: 1;
        width: 450px;
        height: 450px;
    }
    .veloBrand{
        position:absolute;
        top: 43%;
        left: 37%;
        z-index: 1;
        width: 220px;
        height: 110px;
    }
    .music{
        position:absolute;
        top: 85%;
        left: 85%;
        z-index: 1;
        width: 110px;
        height: 25px;
    }
    .imusic{
        position:absolute;
        top: 90%;
        left: 90%;
        z-index: 1;
        width:30px; 
        height:30px;
    }
    
}
@media screen and (max-width: 1200px){
    #first-class{
        width: 127px;
        padding-top: 0;
        padding-bottom: 20px;
    }
    #content-normal{
        width: 127px;
        padding-top: 0;
        padding-bottom: 20px;
    }
    .icon{
        position:absolute;
        top: 10%;
        left: -15%;
        z-index: 1;
        width: 520px;
        height: 560px;
    }
    .veloBrand{
        position:absolute;
        top: 43%;
        left: 37%;
        z-index: 1;
        width: 300px;
        height: 140px;
    }
    .music{
        position:absolute;
        top: 85%;
        left: 85%;
        z-index: 1;
        width: 110px;
        height: 25px;
    }
    .imusic{
        position:absolute;
        top: 90%;
        left: 90%;
        z-index: 1;
        width:30px; 
        height:30px;
    }
    
}
@media screen and (max-width: 1439px){
    #first-class{
        width: 185px;
        height: 290px;
    }
    #content-normal{
        width: 185px;
        height: 290px;
    }
    .overlay a {
        font-size: 31px;
    }
    .icon{
        position:absolute;
        top: 10%;
        left: -15%;
        z-index: 1;
        width: 670px;
        height: 650px;
    }
    .veloBrand{
        position:absolute;
        top: 43%;
        left: 37%;
        z-index: 1;
        width: 370px;
        height: 190px;
    }
    .music{
        position:absolute;
        top: 85%;
        left: 85%;
        z-index: 1;
        width: 140px;
        height: 30px;
    }
    .imusic{
        position:absolute;
        top: 90%;
        left: 90%;
        z-index: 1;
        width:50px; 
        height:50px;
    }
}
@media screen and (max-width: 1640 px){
    .gradient{
        height: 10px;
    }
    .icon{
        position:absolute;
        top: 10%;
        left: -15%;
        z-index: 1;
    }
    .veloBrand{
        position:absolute;
        top: 43%;
        left: 37%;
        z-index: 1;
        width: 500px;
        height: 250px;
    }
    .music{
        position:absolute;
        top: 85%;
        left: 85%;
        z-index: 1;
    }
    .imusic{
        position:absolute;
        top: 90%;
        left: 90%;
        z-index: 1;
    }
}


.data{
    margin-top: .5em;
    margin-bottom: .5em;
    width: 100%;
}
#visa{
    background-color: white;
}
#oName{
    font-size: 1.5em;
    font-weight: bold;
}

#btnLog{
    color: whitesmoke;
    background-color: #87d9de;
    text-decoration: none;
}

/* footer css */
.info-footer{
    font-family: 'AvenirNextLTPro Regular';
    color: #FF0E3B;
    margin-top: 9em;
    text-align: center;
}
.info-footer2{
    background-color: rgb(11,3,30);
    text-align: center;
    font-family: 'AvenirNextLTPro Regular';
}
.p-info{
    margin: 1.5em 0 1.5em 0;
}

.form{
    margin-top: 3em;
    width: 100%;
}
.hi{
    border: .5px solid rgb(65, 65, 65);
    color: rgb(65, 65, 65);
}
/*
#prospectPosition{
    background: rgb(25,26,34)!important;
    border-bottom: 1px solid #eee!important;
    border-radius: 0!important;
    text-transform: uppercase!important;
    color: rgb(65, 65, 65);
}*/
/* For IE10 */
select::-ms-expand{
    display: none;
}
/* For Chrome and Firefox */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}

.prospectText{
    background:  #282828!important;
    border-width: 1px 0px 1px 0px;
    width: 100%;
    padding: 1em 0 1em 0;
    color: white;
}

#prospectName{
    border-left: 1px solid white;
    padding-left: 2em;
}

#prospectInsta{
    border-right: 1px solid white;
    padding-right: 0;
}

.pad{
    padding: 1em 0 1em 0;
}

/*
.prospectBtn{
    color: #fff!important;
    width: 43px;
    line-height: 46px;
    background-color: #000!important;
    border: 0;
    -webkit-appearance: button;
    cursor: pointer;
    font-family: Verdana,Helvetica;
}
*/
.info-top{
    margin-top: 3em;
}

.register{
    margin-top: 6em;
}

.login{
    margin-top: 6em;
}

.navbar-toggler-icon{
    background-color: white;
}