/* fonts */
@font-face{
    font-family: "AvenirNextCondensed Bold";
    src: url("fonts/AvenirNextCondensed-Bold.ttf");
}
@font-face{
    font-family: "AvenirNextLTPro Bold";
    src: url("fonts/AvenirNextLTPro-Bold.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro BoldCn";
    src: url("fonts/AvenirNextLTPro-BoldCn.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro BoldCnit";
    src: url("fonts/AvenirNextLTPro-BoldCnIt.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro Cn";
    src: url("fonts/AvenirNextLTPro-Cn.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro Cnit";
    src: url("fonts/AvenirNextLTPro-CnIt.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro Demi";
    src: url("fonts/AvenirNextLTPro-Demi.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro DemiCn";
    src: url("fonts/AvenirNextLTPro-DemiCn.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro DemiCnIt";
    src: url("fonts/AvenirNextLTPro-DemiCnIt.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro DemiIt";
    src: url("fonts/AvenirNextLTPro-DemiIt.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro HeavyCn";
    src: url("fonts/AvenirNextLTPro-HeavyCn.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro HeavyCnIt";
    src: url("fonts/AvenirNextLTPro-HeavyCnIt.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro It";
    src: url("fonts/AvenirNextLTPro-It.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro MediumCn";
    src: url("fonts/AvenirNextLTPro-MediumCn.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro MediumCnit";
    src: url("fonts/AvenirNextLTPro-MediumCnIt.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro Regular";
    src: url("fonts/AvenirNextLTPro-Regular.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro UltLtCn";
    src: url("fonts/AvenirNextLTPro-UltLtCn.otf")format("opentype");
}
@font-face{
    font-family: "AvenirNextLTPro UltLtCnIt";
    src: url("fonts/AvenirNextLTPro-UltLtCnIt.otf")format("opentype");
}
/* whole html */
html, body {
    background-color: rgb(25,26,34)	;
    color: white;
    font-family: 'AvenirNextLTPro Regular';
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

button:focus {outline:0;}

input:focus {outline:0;}

select:focus {outline:0;}


/* header css */
.top-right {
    position: absolute;
    right: 2em;

}
.line{
    top: 0;
    margin-bottom: .2em;
}

.title {
    font-size: 84px;
}

.home{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    line-height: 39px;
    padding-right: 10px;
    z-index: 6;
}

.home >a{
    color: black;
    padding: 0 25px;
    font-size: 33px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    left: 0;
}

.home > a >span{
    color: #18c2cd;
}
.hicon{
    border-left: .7px solid #FF0E3B;
}
.locations{
    position: absolute;
    right: 29em;
    border-left: 1.5px solid #e9eded;
    padding: 1.6em 1em;
}
.branches{
    position: absolute;
    right: 18em;
    border-left: 1.5px solid #e9eded;
    padding: 1.6em 1em;
}
.locations > select, .branches > select{
    background: #fff!important;
    border-radius: 0!important;
    text-transform: uppercase!important;
    color: black;
    font-family: 'Gotham Thin';
}

.links{
    position: absolute;
    right: 6em;
    border-right: .7px solid #FF0E3B;
    border-left: .7px solid #FF0E3B;
    padding: 1.5em 1em;
}
.links > a{
    color: black;
    padding: 0 15px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.account{
    width: 70%;
}
.account2{
    width: 15%;
}
.account > a{
    color: #87d9de;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.account2 > a{
    color: #87d9de;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.m-b-md {
    margin-bottom: 30px;
}

.responsive {
    width: 100%;
    height: 40em;
    top: 0;
}

.navbar{
    background-color: rgb(25,26,34);
   /* border-top: 16px solid linear-gradient(0.25turn, #F70E0E, #9100FF);*/
    border-bottom: 1px solid #e9eded;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 6em;
}

.redes-fijas {
    text-align: left;
    padding-left: 10px;
    position: fixed;
    right: 2%;
    top: 24%;
    z-index: 1;
    color: black;
    width: 60px;
}

.redes-fijas > a{
    text-decoration: none;
    color: black;
    height: 30px;
    width: 30px;
}

.redes-fijas > a:hover{
    color: #808080;
}

.hambBtn{
    z-index: 4;
}
/*overlay css */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 1%;
  left: 0;
  background-color: rgb(36,36,36);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 9%;
  width: 20%;
  left: 75%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 42px;
  color: #FF0E3B;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #6133AB;
  padding-left: 1em;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/* body css */
.content {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 6em;
}

.packages{
    padding-top: 3em;
    padding-left: 2em;
    margin-top: 6em;
}

.description{
    color:#efeeee;
    text-align: center;
    text-size-adjust: 90px;
    margin-bottom: 1em;
}

.classes{
    justify-content: center;
    margin-left: 11em;
    margin-right: 11em;
}

.content-normal{
    margin-top: 2em;
}

#content-normal{
    color: #FF0E3B;
    text-align: center;
    border: solid .3px #ecebeb;
    padding-top: 2.5em;
    margin-left: 2.5em;
    margin-top: 2em;
    width: 60%;
    height: 100%;
    cursor: pointer;
}
#content-normal:hover{
    background: linear-gradient(0.25turn, #F70E0E, #9100FF);
    color: white;
    border: none;
}

#content-normal2{
    position: absolute;
    left: 0;
    background: linear-gradient(0.25turn, #F70E0E, #9100FF);
    width: 100%;
    height: 100%;
    padding: 0 3px;
}

.content-n .content-n2 {
    opacity: 1;
    top: 100%;
    transition: .2s ease;
    pointer-events: none;
}

#first-class{
    color: white;
    background: linear-gradient(0.25turn, #F70E0E, #9100FF);
    text-align: center;
    border: none;
    padding-top: 2.5em;
    margin-left: 2.5em;
    margin-top: 2em;
    width: 60%;
    height: 100%;
    cursor: pointer;
}

#first-class:hover{
    color: #c4f0f2;
}

.data{
    margin-top: .5em;
    margin-bottom: .5em;
    width: 100%;
}
#visa{
    background-color: white;
}
#oName{
    font-size: 1.5em;
    font-weight: bold;
}

#btnLog{
    color: whitesmoke;
    background-color: #87d9de;
    text-decoration: none;
}

/* footer css */
.info-footer{
    font-family: 'AvenirNextLTPro Regular';
    color: #FF0E3B;
    margin-top: 9em;
    text-align: center;
}
.info-footer2{
    background-color: rgb(11,3,30);
    text-align: center;
    font-family: 'AvenirNextLTPro Regular';
}
.form{
    margin-top: 3em;
    width: 100%;
}
.hi{
    border: .5px solid rgb(65, 65, 65);
    color: rgb(65, 65, 65);
}
/*
#prospectPosition{
    background: rgb(25,26,34)!important;
    border-bottom: 1px solid #eee!important;
    border-radius: 0!important;
    text-transform: uppercase!important;
    color: rgb(65, 65, 65);
}*/
/* For IE10 */
select::-ms-expand{
    display: none;
}
/* For Chrome and Firefox */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}

.prospectText{
    background: rgb(25,26,34)!important;
    border-width: 1px 0px 1px 0px;
    width: 100%;
    padding: 1em 0 1em 0;
    color: white;
}

#prospectName{
    border-left: 1px solid white;
    padding-left: 2em;
}

#prospectInsta{
    border-right: 1px solid white;
    padding-right: 0;
}

.pad{
    padding: 1em 0 1em 0;
}

/*
.prospectBtn{
    color: #fff!important;
    width: 43px;
    line-height: 46px;
    background-color: #000!important;
    border: 0;
    -webkit-appearance: button;
    cursor: pointer;
    font-family: Verdana,Helvetica;
}
*/
.info-top{
    margin-top: 3em;
}

.register{
    margin-top: 6em;
}

.login{
    margin-top: 6em;
}

.navbar-toggler-icon{
    background-color: white;
}