html, body {
    background-color: #222222;
    color: #87d9de;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 2em;
}

.content {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 6em;
}

.title {
    font-size: 84px;
}

.links > a{
    color: #87d9de;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1em;
    vertical-align: .325em;
}

.account{
    width: 70%;
}
.account2{
    width: 15%;
}
.account > a{
    color: #87d9de;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.account2 > a{
    color: #87d9de;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.home >a{
    color: #87d9de;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: .325em;
}

.m-b-md {
    margin-bottom: 30px;
}

.responsive {
    width: 100%;
    height: 40em;
    top: 0;
}

.navbar{
    background-color: #222222;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 6em;
}

.packages{
    padding-top: 3em;
    padding-left: 2em;
}

.classes{
    justify-content: center;
}

.content-normal{
    color: #ffffff;
    margin-top: 2em;
}

#content-normal{
    text-align: center;
    border: solid #87d9de;
    border-radius: 120px;
    padding-top: 2.5em;
    margin-left: 2.5em;
    margin-top: 2em;
    width: 60%;
    height: 100%;
}

#content-special{
    text-align: center;
    border: solid #ff8e69;
    border-radius: 120px;
    padding-top: 2.5em;
    margin-left: 2.5em;
    margin-top: 2em;
    width: 60%;
    height: 100%;
}

#content-normal:hover{
    background-color: #87d9de;
}

#content-special:hover{
    background-color: #ff8e69;
}

.data{
    margin-top: .5em;
    margin-bottom: .5em;
    width: 100%;
}
#visa{
    background-color: white;
}
#oName{
    font-size: 1.5em;
    font-weight: bold;
}

#btnLog{
    color: whitesmoke;
    background-color: #87d9de;
    text-decoration: none;
}

.info-footer{
    color: white;
    margin-top: 9em;
    text-align: center;
}

.register{
    margin-top: 6em;
}

.login{
    margin-top: 6em;
}

.navbar-toggler-icon{
    background-color: white;
}