@font-face {
    font-family: Avenir;
    src: url("css/fonts/velo/AvenirNextCondensed-Bold.ttf");
    src: url("css/fonts/velo/AvenirNextLTPro-Bold.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-BoldCn.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-BoldCnlt.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-Cn.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-Cnlt.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-Demi.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-DemiCn.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-DemiCnlt.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-HeavyCn.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-HeavyCnlt.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-It.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-MediumCn.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-MediumCnlt.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-Regular.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-UltLtCn.oto") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-UltLtCnlt.otf") format("opentype");
}
.mainContainer{
    margin-left: 4%;
    margin-right: 4%;
}

.title{
    font-family: 'Avenir Next' !important;
    font-size: 70px;
    font-weight: 250;
    /* background: -webkit-linear-gradient(40deg, #F80F12, #B102C0); */
    background: -webkit-linear-gradient(40deg, #9d1268, #e50f20, #a002da, #9100ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header{
    color: #fff;
    text-align: center;
    font-weight: 100 !important;
    font-size: 1.7em;
}

.bodyText{
    color: #fff;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 100;
    font-size: 1em;
    margin-bottom: 3%;
}

@media screen and (max-width: 600px){
    .title{
        font-family: 'Avenir Next';
        font-size: 40px;
        font-weight: 250;
        /* background: -webkit-linear-gradient(40deg, #F80F12, #B102C0); */
        background: -webkit-linear-gradient(40deg, #9d1268, #e50f20, #a002da, #9100ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .header{
        color: #fff;
        text-align: center;
        font-weight: 100;
        font-size: 1em;
    }

    .bodyText{
        color: #fff;
        text-align: justify;
        text-justify: inter-word;
        font-weight: 100;
        font-size: 0.8em;
    }
}