/* modal css */

.modal-content{
    background: black;
}
.modal-title{
    color: #FF0E3B;
}
.modal-header{
    border-bottom: none;
}
.modal-footer{
    border-top: none;
    margin: 0 auto;
}
#oName{
    font-size: 1.1em;
}
.cards{
    width:60px;
    height:35px;
    margin: 1em .5em;
}
.cInfo{
    display: flex;
    width: 68%;
}
.data{
    margin-top: 1em;
    margin-bottom: .5em;
    width: 65%;
    position: relative;
    display: block;
    text-align: left;
    font-size: 13px;
    border-top: solid 1px transparent;
    color: #000!important;
    padding: 20px 2px 20px 12px;
    min-height: 42px;
    letter-spacing: 1px;
    background-color: #fafafa!important;
    border: 0!important;
    outline: 0;
    -webkit-appearance: none!important;
    border-radius: 3px;
    align-content: center;
    justify-content: center;
    align-self: center;
}

.dataRow{
    margin: .5em .5em;
    width: 100%;
    position: relative;
    display: block;
    text-align: left;
    font-size: 13px;
    border-top: solid 1px transparent;
    color: #000!important;
    padding: 20px 12px;
    min-height: 42px;
    letter-spacing: 1px;
    background-color: #fafafa!important;
    border: 0!important;
    outline: 0;
    -webkit-appearance: none!important;
    border-radius: 3px;
}

.button{
    font-family: 'Avenir Next';
    font-size: 14px;
    color: #FFF;
    transition: 0.2s;
    border-radius: 120px;
    background-size: 200% auto;
    border-style: none;
    padding: .6em 5em;
    background-image: linear-gradient(0.25turn, #fd0d3dc7 0%, #9000ffd3 51%, #fd0d3dc7 100%);
}
.button:first-of-type{
    margin: 2em 0;
}

.closeBtn{
    font-family: 'Avenir Next';
    font-size: 14px;
    color: #FFF;
    transition: 0.2s;
    border-radius: 120px;
    background-size: 200% auto;
    border-style: none;
    padding: .6em 5em;
    background: red;
}

.closeBtn:hover{
    opacity: .7;
}

.button:hover {
    background-position: right center;
}

/*
#oName{
    font-size: 1.5em;
    font-weight: bold;
}*/