@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body{
    background: #FFF;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

input:not([type="submit"]) + .input-requirements{
    list-style-type:circle;
    color: rgb(116, 116, 116);
    overflow: hidden;
    max-height: 0;
    transition: max-height 1.8s;
}

input:not([type="submit"]):hover + .input-requirements,
input:not([type="submit"]):focus + .input-requirements,
input:not([type="submit"]):active + .input-requirements {
    max-height: 1000px;
    transition: max-height 3.6s;
}

.input-requirements li {
    color: rgb(116, 116, 116);
}

.input-requirements li.invalid {
	color: #e74d3ce5;
}
.input-requirements li.valid {
	color: #2ecc70e5;
}

.input-requirements li.valid:after {
	display: inline-block;
	padding-left: 10px;
}