.scheduleDayText{
    padding: 2em;
    padding-right: 3em;
    padding-left: 3em;
    font-size: 11px;
    font-weight: bold;
    list-style: none;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ffffff;
    list-style: none;
    text-align: center;
}

#scheduleDayColumn{
    padding: 0%;
}

p.number{
    margin: 0px;
}

.scheduleItem{
    color: #87dadf;
    text-align: center;
    margin-bottom: 6px;
    list-style: none;
    background-color: #222222;
    border: 2px solid #87dadf;
    border-radius: 30px;
    width: 100%;
    cursor: auto;
}

.scheduleItem > a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight: bold;
}
.scheduleItem:hover{
    color: #ffffff;
    text-align: center;
    margin-bottom: 6px;
    list-style: none;
    background-color: #87dadf;
    border: 1px solid #87dadf;
    border-radius: 30px;
}

.scheduleItemText{
    margin-bottom: 0px;
    font-weight: bold;
}

select.dropdown{
    border-radius: 100px;
}

.main{
    margin-top: 5em;
}