@font-face {
    font-family: Avenir;
    src: url("css/fonts/velo/AvenirNextCondensed-Bold.ttf");
    src: url("css/fonts/velo/AvenirNextLTPro-Bold.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-BoldCn.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-BoldCnIt.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-Cn.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-CnIt.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-Demi.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-DemiCn.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-DemiCnIt.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-HeavyCn.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-HeavyCnIt.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-It.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-MediumCn.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-MediumCnIt.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-Regular.otf") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-UltLtCn.oto") format("opentype");
    src: url("css/fonts/velo/AvenirNextLTPro-UltLtCnIt.otf") format("opentype");
}

body{
    font-family: 'Avenir';
    background-color: #000;
}

#topNavBar{
    background-color: #000;
    border-top: 1px solid #c72744a5;
    border-bottom: 1px solid #c72744;
    border-left: none;
    border-right: none;
    padding: 5px 0px;
    text-align: center;
    margin-bottom: 2%;
}

#topNavBar > div{
    border-right: 1px solid #c72744cd;
}

.dropdown{
    text-align-last: center;
    background-color: #000;
    color: #FDFDFD;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

ul{
    padding-left: 0px;
    margin-bottom: 0px;
}

.main{
    margin-top: 6em;
}

.weekShown{
    color: #FDFDFD;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: middle;
}

#calendar{
    padding-left: 0%;
    padding-right: 0%;
}

.scheduleDayText{
    font-size: 14px;
    font-family: 'Avenir Next';
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    list-style: none;
}


span.number{
    display: inline;
    margin: 0px;
    color: #FFF;
}

#scheduleDayColumn{
    padding: 1px;
}

/* CSS Style in case the Schedule shown is out of date  */
.scheduleItemLinkDisabled{
    color: #a50b2ae2;
    background-color: #282828;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    cursor: default;
}

.scheduleItemLinkDisabled:hover{
    text-decoration: none;
    color: #a5a5a5d0;
    background-color: #FDFDFD;
}

.scheduleItemDisabled{
    background-color: #000;
    margin-bottom: 6px;
    list-style: none;
    border: 1px solid #ffffff66;
    width: 98%;
    height: 100px;
    font-size: 18px;
    transition: 0.2s;
}

.scheduleItemDisabled:hover{
    /* Red Hover */
    /* background-color: rgba(253, 13, 61, 0.838); */

    background-color: rgba(253, 13, 61, 0.315);
}

.scheduleItemTextHourDisabled{
    padding-bottom: 20px;
    color: #a5a5a5d0;
    margin: 0px;
    font-size: 16px;
    font-family: 'Avenir';
    letter-spacing: 1px;
}

/* CSS Style in case the Schedule Shown is up to date */
.scheduleItemLink{
    color: #fd0d3df1;
    background-color: #000;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
}

.scheduleItemLink:hover
{
    text-decoration: none;
    color: #ffffff;
}

.scheduleItem{
    background-color: #000;
    margin-bottom: 6px;
    list-style: none;
    border: 1px solid #ffffff66;
    width: 98%;
    height: 100px;
    font-size: 18px;
    transition: 0.2s;
}

.scheduleItem:hover{
    /* Red Hover */
    /* background-color: rgba(253, 13, 61, 0.673); */

    /* Gradient Hover */
    background: linear-gradient(0.25turn, #fd0d3dc7, #9000ffd3);
}

.scheduleItemTextInstructor{
    padding-top: 21px;
    margin: 0;
    font-family: 'Avenir Next';
    font-weight: 400;
}

.scheduleItemTextHour{
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 0.824);
    margin: 0px;
    font-size: 16px;
    font-family: 'Avenir';
    letter-spacing: 1px;
}

.main{
    margin-top: 5em;
}