.main{
    color: #6133AB;
    font-family: 'AvenirNextLTPro Regular' !important;
}
.select{
    color: black;
    margin-top: 8em;
}
/*
#goBack{
    color:white;
    text-decoration: none;
    padding: .6em 5em .6em 5em;
    background: linear-gradient(0.25turn, #fd0d3dc7, #9000ffd3);
    border-radius: 120px;
    margin: 0 1em 0 1em;
    font-family: 'AvenirNextLTPro Regular';
    font-size: 1.1em;
}

#goBack:hover{
    background-color: #5dd4dc;
}*/

.text_gradient_bike_selection{
    font-family: 'Avenir Next' !important;
    font-size: 70px;
    font-weight: 250;
    /* background: -webkit-linear-gradient(40deg, #F80F12, #B102C0); */
    background: -webkit-linear-gradient(40deg, #9d1268, #e50f20, #a002da, #9100ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#goBack{
    font-family: 'Avenir Next' !important;
    font-size: 1.1em;
    text-decoration: none;
    color: #FFF;
    transition: 0.2s;
    border-radius: 120px;
    background-size: 200% auto;
    border-style: none;
    padding: .6em 5em;
    background-image: linear-gradient(0.25turn, #fd0d3dc7 0%, #9000ffd3 51%, #fd0d3dc7 100%);
}
#goBack:hover{
    background-position: right center;
}
#sel{
    color:#efeeee;
    text-align: center;
    text-size-adjust: 90px;
}
#selection{
    text-align: center;
    font-family: 'Gotham Thin';
}
#selection > span{
    color: #89e0e5;
}
.description{
    margin-top: 1em;
}
#profilePic{
    border-radius: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
}

.showBallFree{
    width: 70px;
    height: 70px;
    margin: 1px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #FF0E3B;
    background: none;
    color: #bababa;
    text-align: center;
    transition: .3s ease;
    font-size: 1.2em;
    margin: 0;
}
.showBallFree:hover{
    color: #FFF;
    background: #FF0E3B;
}
.showBallDisabled{
    width: 70px;
    height: 70px;
    margin: 1px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid gray;
    background: none;
    color: #bababa;
    text-align: center;
    transition: .3s ease;
    font-size: 1.2em;
    margin: 0;
}
.showBallInstructor{
    cursor: pointer;
    width: 70px;
    height: 70px;
    margin: 1px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid yellowgreen;
    background: none;
    color: #bababa;
    text-align: center;
    transition: .3s ease;
    font-size: 1.2em;
    margin: 0;
}
.showBallInstructor:hover{
    color: #FFF;
    background: greenyellow;
}

.bikes{
    cursor: pointer;
    /* width: 65px;
    height: 65px; */
    width: 65px;
    height: 65px;
    margin: 1px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #FF0E3B;
    background: none;
    color: #bababa;
    text-align: center;
    transition: .3s ease;
    font-size: 1.2em;
    margin: 0;
}

.occupied {
    /* width: 65px;
    height: 65px;
    margin: 1px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 100%;
    background: gray;
    color: #bababa;
    text-align: center;
    transition: .3s ease;
    font-size: 1.2em;
    margin: 0; */


    cursor: pointer;
    /* width: 65px;
    height: 65px; */
    width: 65px;
    height: 65px;
    margin: 1px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid gray;
    background: gray;
    color: #bababa;
    text-align: center;
    transition: .3s ease;
    font-size: 1.2em;
    margin: 0;
}

.disabled {
    /* cursor: pointer; */
    width: 30px;
    height: 30px;
    margin: 1px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid black;
    background: none;
    /* color: #bababa; */
    color: black;
    text-align: center;
    transition: .3s ease;
    font-size: 1.2em;
    margin: 0;
}

.instructor {
    cursor: pointer;
    width: 65px;
    height: 65px;
    margin: 1px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid yellowgreen;
    background: none;
    color: #bababa;
    text-align: center;
    transition: .3s ease;
    font-size: 1.2em;
    margin: 0;
}

.selected{
    width: 65px;
    height: 65px;
    margin: 1px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF0E3B;
    border-radius: 100%;
    background: #FF0E3B;
    color: #bababa;
    text-align: center;
    transition: .3s ease;
    font-size: 1.2em;
    margin: 0;
}


@media screen and (max-width: 1500px) {
    .first{
        font-size: 1em !important;
    }
    .main-bikes{
        margin: 2em 35% 0em 35%;
    }
}

@media screen and (max-width: 1300px) {
    .first{
        font-size: .9em !important;
    }
    .main-bikes{
        margin: 2em 25% 0em 25%;
    }
    #date{
        margin-top: -1em;
        margin-left: 12em;
    }
}

@media screen and (max-width: 969px) {
    .main-bikes{
        margin: 2em 15% 0em 15%;
    }
    .bikes{
        cursor: pointer;
        /* width: 65px;
        height: 65px; */
        width: 55px;
        height: 55px;
        margin: 1px !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 1px solid #FF0E3B;
        background: none;
        color: #bababa;
        text-align: center;
        transition: .3s ease;
        font-size: 1.2em;
        margin: 0;
    }
    .occupied {
        width: 55px;
        height: 55px;
        margin: 1px !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid gray;
        border-radius: 100%;
        background: gray;
        color: #bababa;
        text-align: center;
        transition: .3s ease;
        font-size: 1.2em;
        margin: 0;
    }
    .disabled {
        /* cursor: pointer; */
        width: 10px;
        height: 10px;
        margin: 1px !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 1px solid black;
        background: none;
        /* color: #bababa; */
        color: transparent;
        text-align: center;
        transition: .3s ease;
        font-size: 1.2em;
        margin: 0;
    }
    .instructor {
        cursor: pointer;
        width: 55px;
        height: 55px;
        margin: 1px !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 1px solid yellowgreen;
        background: none;
        color: #bababa;
        text-align: center;
        transition: .3s ease;
        font-size: 1.2em;
        margin: 0;
    }
    .selected{
        width: 55px;
        height: 55px;
        margin: 1px !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #FF0E3B;
        border-radius: 100%;
        background: #FF0E3B;
        color: #bababa;
        text-align: center;
        transition: .3s ease;
        font-size: 1.2em;
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .main-bikes{
        margin: 2em 4% 0em 4% !important;
    }
    #placeDate{
        margin-top: .3em;
        padding-left: 0px;
    }
    .text_gradient_bike_selection{
        font-family: 'Avenir Next' !important;
        font-size: 43px !important;
        font-weight: 250 !important;
        /* background: -webkit-linear-gradient(40deg, #F80F12, #B102C0); */
        background: -webkit-linear-gradient(40deg, #9d1268, #e50f20, #a002da, #9100ff) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
    }
    #selectBikeLogo{
        display: none;
    }
    #goBack{
        display: block;
        font-family: 'Avenir Next' !important;
        font-size: 1.1em !important;
        text-decoration: none;
        color: #FFF;
        text-align: center;
        transition: 0.2s;
        border-radius: 120px;
        background-size: 200% auto;
        border-style: none;
        padding: .4em 3em;
        background-image: linear-gradient(0.25turn, #fd0d3dc7 0%, #9000ffd3 51%, #fd0d3dc7 100%);
    }
    #goBack:hover{
        background-position: right center;
    }
    .bikes{
        cursor: pointer;
        /* width: 65px;
        height: 65px; */
        width: 45px;
        height: 45px;
        margin: 3px !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 1px solid #FF0E3B;
        background: none;
        color: #bababa;
        text-align: center;
        transition: .3s ease;
        font-size: 1.2em;
        margin: 0;
    }
    .occupied {
        width: 45px;
        height: 45px;
        margin: 1px !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid gray;
        border-radius: 100%;
        background: gray;
        color: #bababa;
        text-align: center;
        transition: .3s ease;
        font-size: 1.2em;
        margin: 0;
    }
    .disabled {
        /* cursor: pointer; */
        width: 10px;
        height: 10px;
        margin: 1px !important;
        color: transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 1px solid black;
        background: none;
        /* color: #bababa; */
        color: transparent;
        text-align: center;
        transition: .3s ease;
        font-size: 1.2em;
        margin: 0;
    }
    .instructor {
        cursor: pointer;
        width: 45px;
        height: 45px;
        margin: 1px !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 1px solid yellowgreen;
        background: none;
        color: #bababa;
        text-align: center;
        transition: .3s ease;
        font-size: 1.2em;
        margin: 0;
    }
    .selected{
        width: 45px;
        height: 45px;
        margin: 1px !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #FF0E3B;
        border-radius: 100%;
        background: #FF0E3B;
        color: #bababa;
        text-align: center;
        transition: .3s ease;
        font-size: 1.2em;
        margin: 0;
    }
}

@media screen and (min-width: 1501px) {
    .main-bikes{
        margin: 2em 35% 0em 35%;
    }
    .ent {
        color: white;
        font-size: 1.6em;
    }
    #goBack{
        font-size: 1.3em;
    }
}
.table{
    margin: 0 auto;
    width: 70%;
}
.table td{
    border: 1px solid transparent !important;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
}
.places{
    text-align: center;
    width: 47px;
    height: 47px;
    margin: 5px 5px;
    /* display: contents; */
    justify-content: center;
    /* align-items: center; */
}

.centeredDiv{
    margin: auto;
    width: 50%;
    text-align: center;
}

.bikes:hover{
    background-color: #FF0E3B;
    color: white;
}

.instructor:hover{
    background-color: greenyellow;
    color: white;
}

.details{
    font-family: 'AvenirNextLTPro DemiCn' !important;
    color: white;
    text-align: center;
    margin-top: 3em;
    margin-left: 15em;
    margin-right: 15em;
}

.first{
    font-family: 'AvenirNextLTPro DemiCn' !important;
    color: #FF0E3B;
    margin-top: 2em;
    margin-left: 2em;
    font-size: 1.1em;
    font-weight: bold;
}

.first > span{
    color: white;
}
.bnd{
    margin-top: 3em;
}
#date{
    margin-top: -1.7em;
    margin-left: 14em;
}
.ent{
    color: white;
}

.cropLogo{
    width: 50px;
    height: 20px;
    margin-bottom: .1em;
}