.main{
    color: #6133AB;
    font-family: 'AvenirNextLTPro Regular';
}
.select{
    color: black;
    margin-top: 8em;
}

#goBack{
    color:white;
    text-decoration: none;
    padding: .6em 5em .6em 5em;
    background: linear-gradient(0.25turn, #fd0d3dc7, #9000ffd3);
    border-radius: 120px;
    margin: 0 1em 0 1em;
    font-family: 'AvenirNextLTPro Regular';
}

#goBack:hover{
    background-color: #5dd4dc;
}
#sel{
    color:#efeeee;
    text-align: center;
    text-size-adjust: 90px;
}
#selection{
    text-align: center;
    font-family: 'Gotham Thin';
}
#selection > span{
    color: #89e0e5;
}
.description{
    margin-top: 1em;
}
#profilePic{
    border-radius: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
}

@media screen and (max-width: 1500px) {
    .first{
        font-size: .8em !important;
    }
    .main-bikes{
        margin: 2em 35% 0em 35%;
    }
}

@media screen and (max-width: 1300px) {
    .main-bikes{
        margin: 2em 25% 0em 25%;
    }
}

@media screen and (max-width: 969px) {
    .main-bikes{
        margin: 2em 15% 0em 15%;
    }
}

@media screen and (max-width: 600px) {
    .main-bikes{
        margin: 2em 4% 0em 4%;
    }
}

@media screen and (min-width: 1501px) {
    .main-bikes{
        margin: 2em 35% 0em 35%;
    }
    .ent {
        color: white;
        font-size: 1.6em;
    }
    #goBack{
        
        font-size: 1.3em;
    }
}

.places{
    text-align: center;
    width: 47px;
    height: 47px;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bikes{
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #FF0E3B;
    background: none;
    color: #bababa;
    text-align: center;
    transition: .3s ease;
    font-size: 12px;
}

.bikes:hover{
    background-color: #FF0E3B;
    color: white;
}

.selected{
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #FF0E3B;
    color: #bababa;
    text-align: center;
    transition: .3s ease;
    font-size: 12px;
}

.details{
    font-family: 'AvenirNextLTPro DemiCn';
    color: white;
    text-align: center;
    margin-top: 3em;
    margin-left: 15em;
    margin-right: 15em;
}

.first{
    font-family: 'AvenirNextLTPro DemiCn';
    color: #FF0E3B;
    margin-top: 2em;
    margin-left: 2em;
    font-size: 1.1em;
    font-weight: bold;
}

.first > span{
    color: white;
}
.bnd{
    margin-top: 3em;
}
#date{
    margin-top: -1.7em;
    margin-left: 12em;
}
.ent{
    color: white;
}

.cropLogo{
    width: 50px;
    height: 20px;
    margin-bottom: .1em;
    
}