body{
    background-color: #FFF;
}

.circleDiv{
    height: 0;
    padding: 19% 0;
    width: 50%;
    overflow: hidden;
    min-width: 250px;
    min-height: 250px;
    text-align: center;
    border-radius: 100%;
}
.main{
    margin-top: 6em;
}
#media_icon{
    columns: #FFF;
}
.input_custom{
    background-color:#F4F4F4;
}